<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Sharing Application</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <div id="title-logo">Image Sharing App</div>
        
        <% if (sess) { %>
        <div id="log-reg-cont">
            <div id="login-cont">
                <form class ="form-cont" method="POST" action="/login" novalidate>
                    <div class="form-field">
                        <div class="input">
                            <label for="email">User </label>
                            <input name="username" type="text" value="" />
                        </div>
                        <div class="input">
                            <label for="email">Password </label>
                            <input name="password" type="password" value="" />
                        </div>
                    </div>
                    <div class="form-actions">
                        <button class="btn" type="submit">Login</button>
                    </div>
                </form>
            </div>

            <div id="register-cont">
                / Register
            </div>
        </div>
        <% } else { %>
            <div>Hello Marko!</div>
        <% } %>





    </header>

    <main>
        <div class="gallery">

            <% for (var i = 0; i < data.length; i++) { %>
                <div class="thread">
                    <img class="thread-image" src="images/<%= data[i].thread_image_id %>">
                    <div class="thread-info-cont">
                        <div class="username"><%= data[i].thread_opid %></div>
                        <div class="dateTime"><%= data[i].thread_timestamp %></div>
                        <div class="likes"><%= data[i].thread_likes %></div>
                    </div>
                    <div class="thread-name"><%= data[i].thread_name %></div>
                    <div class="thread-text"><%= data[i].thread_text %></div>
                </div>
            <% }; %>

        </div>
    </main>
    
    <footer>
        Links and stuff...
    </footer>

</body>