<%- include partials/header -%>

    <main>
        <div class="gallery">

            <% for (var i = 0; i < data.length; i++) { %>
                <div class="thread">
                    <a href="threads/<%=data[i].id %>"><img class="thread-image" src="images/<%= data[i].thread_image_id %>"></a>
                    <div class="thread-info-cont">
                        <div class="username"><%= data[i].thread_opid %></div>
                        <div class="dateTime"><%= data[i].thread_timestamp %></div>
                        <div class="likes"><%= data[i].thread_likes %></div>
                    </div>
                    <div class="thread-name"><%= data[i].thread_name %></div>
                    <div class="thread-text"><%= data[i].thread_text %></div>
                </div>
            <% }; %>

        </div>
    </main>
    
<%- include partials/footer -%>