<%- include partials/header -%>

    <main>
        <div class="big-img-cont">
                <img class="big-img" src="../images/<%= thread[0].thread_image_id %>">
        </div>
        
        <div class="post-cont">

            <% for (var i = 0; i < replies.length; i++) { %>
                <div class="post">
                    <div class="thread-info-cont">
                        <div class="username"><%= replies[i].reply_user_id %></div>
                        <div class="dateTime"><%= replies[i].reply_timestamp %></div>
                    </div>
                    <div class="thread-text"><%= replies[i].reply_text %></div>
                </div>
            <% }; %>

        </div>
    </main>
    
<%- include partials/footer -%>